/* Lgoin */
body{
  background-color: #667598;

}
.mainLogin{
  /* border: 2px solid black; */
  height: 100vh; 
  display: flex;
  padding: 90px 200px;
  background-color: #667598;
  /* min-width: 1000px; */
  

}
.container-login{
  /* border: 2px solid black; */
  flex-grow: 1;
  background-image: linear-gradient(100deg,#4e4779 40%,#fdba34 0%);
  display: flex;
 
  
}
.container-login .item1{
  flex-grow: 1;
  /* border: 2px solid black; */
 
}
.container-login .item2{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* border: 2px solid green; */
 
 
}
.form-horizontal{
  /* border: 2px solid red; */
  width: 50%;
  /* margin-left: 400px; */
  /* padding-left: 100px; */
  padding: 30px 20px;
  background: white;
  margin-left: 300px;
}
.submitLogin{
  background: #4e4779;
  color: white;
}

/* HEADER */
header{
  background-image: linear-gradient(120deg,#212529 85%,white 0%);
 
  font-size: 16px;
}

.headerLink{
  color:white;
 
  /* flex-grow: 3; */
 
  
  
}
.headerLink:nth-child(1){
  color:white;
  flex-grow: 3;
  
}
.headerLink:nth-child(2){
  flex-grow: 3;
  
  
}
.headerLink:nth-child(3){
  flex-grow: 1;
  text-align: center;
  
}
.ourLogo{
  width: 25px;
  height: 25px;
}



/* ********** */

/* mobile */
@media screen and (max-width: 900px) and (min-width: 400px){
  .container-login{
    /* border: 2px solid black; */
    flex-grow: 1;
    background-image: linear-gradient(100deg,#4e4779 40%,#fdba34 0%);
    display: flex;
    flex-direction: column;
    
  }
  .form-horizontal{
    /* border: 2px solid red; */
    width: 80%;
    margin-left: 0px;
    padding: 20px;
    
    
   
  }
  .container-login .item2{

    padding: 20px;
    /* border: 2px solid green; */
  
  }


}

@media screen and  (max-width: 399px){
 
  .form-horizontal{
    /* border: 2px solid red; */
    width: 100%;
    margin-left: 0px;
    padding: 20px;
   
     
  }



}



/* HOME */
.mainAside{
  display: flex;
  flex-direction: column;
  /* border: 2px solid pink; */
  width: 500px;
  height: 370px;
  justify-content: space-between;
}

.aside1{
  /* border: 2px solid black; */
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: space-between;
}
.asideTop{
  border: 2px solid  #dedede;;
  width: 47%;
}

.asideTop.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: '15px'
}

.asideTop.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.childAsideTop{
  display: flex;
  color: #1d71b8
}
.childAsideTop div{
  flex-grow: 1;
  text-align: center;
}

.aside2{
  /* border: 2px solid green; */
  width:100%;
  height:  200px;
  display: flex;
  justify-content: space-between;
}
.asideBottom{
  border: 2px solid #dedede;
  flex-basis: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  
}
.calDate{
  /* border: 2px solid black; */
  background: #2f2c75;

  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color:white;
}
.calMouth{
  /* border: 2px solid black; */
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f2c75;
  /* text-align:center; */
}

/* informations and actions */
.mainNavigation{
  border: 2px solid #dedede;
  width: 670px;
  margin-top: 100px;
  /* border-top: 2px solid white; */
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-around;

}

.navigationsActions{
  /* border: 2px solid darkcyan; */
  display: flex;
  flex-basis: 200px;
  justify-content: space-between;

 

  
}

.action{
  /* border: 2px solid #dedede; */
  flex-basis: 32%;
}
.action:nth-child(1){
  background: #2f2c75;
}

.action:nth-child(2){
  background: #8e1b81;
}

.action:nth-child(3){
  background: #1d71b8;
}
.navigationsInformations{
  /* border:2px solid blue; */

  flex-basis: 250px;
}

.navPresence{
  width: 100%;
  padding: 10px;
  /* border:2px solid black; */
  background: #04b2c0;
  color:white;
}
.listPresence{
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  padding: 0;

  
}
.listPresence li{
  list-style: none;
  padding: 10px;
  border-bottom: 2px solid #dedede;
  display: flex;
  justify-content: space-between;
}
